<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Housing for Humanity</title>
    <!-- BOOTSTRAP STYLE SHEET -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME ICONS STYLE SHEET -->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES -->
    <link href="assets/css/cover.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse animated slideInDown">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand animated pulse infinite" id="lab" href="/">Housing for Humanity</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right  ">
            <li>
              <a href="/login">LOGIN / SIGNUP</a>
            </li>
            <li>
              <a href="/item">ITEM TRACKING</a>
            </li>
               <li>
              <a href="/profile">PROFILE</a>
            </li>
            <li>
              <a href="/donation" data-toggle="tooltip" data-placement="bottom" data-animation="animated zoomIn">DONATE US</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <!-- NAVBAR CODE END -->
    <div class="top">
      <video id="vid" controls autoplay='autoplay' loop poster='https://cdn.involvio.com/assets/marketing/home-video-poster-6968cf77da475fb27524280d114bf632.jpg'>
        <source src='https://cdn.involvio.com/assets/marketing/home-video-631081fab8f48bd86f818effd996a269.webm' type='video/webm'>
        <source src='https://cdn.involvio.com/assets/marketing/home-video-2ba151787b15d8425373bdce3a8720fc.mp4' type='video/mp4'>
        <source src='https://cdn.involvio.com/assets/marketing/home-video-6b72bbfbeb9d2b37e3e94a9fd5deb73e.ogv' type='video/ogg'>
      </video>
      <section class='overlay'>
      <h1>Helping the Society</h1>
      <br><br>
      <h1>This E-site provides a platform for the organisations to provide houses for poor people at low prices. Donations are made by volunteers who contribute towards the society!!</h1>
      <button class='learn'>Learn More</button>
      </section>
    </div>
    <div class="container container1">
      <div class='row details'>
        <center>
          <h1 id="d2">Everything you need to know about HOUSING FOR HUMANITY</h1>
          <p id="d1">This site allows you to contribute towards the society with a few clicks.</p>
          <ul class='steps'>

            <li class="col-md-6 col-sm-12">
              <img alt='' class='icon animated fadeInDown' src='http://i.stack.imgur.com/bRUnY.png'>
              <h2>HOUSE SCHEDULING</h2>
                <p>Get Info about the progress of house construction!! Track all the details about the construction of houses.</p>
              <a href="/scheduling"><button type="button" class="btn btn-primary">Check Schedule</button></a>
            </li>
            <li class="col-md-6 col-sm-12">
              <img alt='' class='icon animated fadeInDown' id="i2" src='https://cdn4.iconfinder.com/data/icons/user-icons-4/100/user-11-512.png'>
              <h2>COMPLAINTS</h2>
              <p>Got Problems? Register them here. We will reply you as fast as we can.</p>
              
              <a href="/COMPLAINT"><button type="button" class="btn btn-primary">COMPLAINT</button></a>
            </li>
          </center>
          </ul>
        </div>
      </div>
  <div class="footer">
    <div class="container">
      <p>&copy; Housing For Humanity-2017</p>
      <a style="float:right" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" data-whatever="umang18oct@gmail.com">CONTACT US</a>
      <div class="modal bounce animated" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="color:white">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color:rgba(110,189,153,0.8); border-color:black;">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body" style="background-color:black; border-color:black;">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="background-color:black; border-color:black;">
              <a>
                <button  id="bt1" data-toggle="tooltip" data-placement="bottom" data-animation="animated zoomIn" title="Functionality will be enabled soon" type="button" class="btn btn-default" style="float:left">Send message</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <h3> Social Links: </h3>
      <a href="https://www.facebook.com/UmG.18" class="btn btn-social btn-facebook">
        <i class="fa fa-facebook"></i>
        &nbsp; Facebook</a>
      <a href="https://plus.google.com/u/0/+umangchaudhary18" class="btn btn-social btn-google">
        <i class="fa fa-google-plus"></i>
        &nbsp; Google</a>
    </div>
    <!-- REQUIRED SCRIPTS FILES -->
    <script>
    $(".learn").click(function() {
    $('html, body').animate({
        scrollTop: $(".container1").offset().top
    }, 1500);
});
    var $animation_elements = $('.icon');
    var $window = $(window);

    function check_if_in_view() {
      var window_height = $window.height();
      var window_top_position = $window.scrollTop();
      var window_bottom_position = (window_top_position + window_height);

      $.each($animation_elements, function() {
        var $element = $(this);
        var element_height = $element.outerHeight();
        var element_top_position = $element.offset().top;
        var element_bottom_position = (element_top_position + element_height);

        //check to see if this current container is within viewport
        if ((element_bottom_position >= window_top_position) &&
        (element_top_position <= window_bottom_position)) {
          $element.addClass('animated fadeInDown');
        } else {
          $element.removeClass('animated fadeInDown');
    }
  });
}

  $window.on('scroll resize', check_if_in_view);
  $window.trigger('scroll');
    </script>
    <!-- CORE JQUERY FILE -->
    <script src="assets/js/jquery-1.11.1.js"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
  </body>
</html>
